<center>
	<h1>Список потребителей</h1>
<table id="mcl" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			</tr>	
		</thead>
		<tbody>
					<% @companies.each do |cl| %>
					<tr>
		
						<td><%= cl.id %></td>
						<td><%= cl.name %></td>
					</tr>		
					<% end %>
			
		</tbody>
</table>
</center>

<p></p>
