<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

 <script>
$('#example').DataTable({
  responsive: true
});
</script>
<table class="example">
    <thead>
        <tr></tr>
    </thead>
    
</table>
  

<center>
   
<div class="page">
	<div class="centercol">
		
<h1>Список потребителей</h1>

<table id="mcl" border="0" cellspacing="5" cellpadding="5">
		<thead>
			<tr>
			   <th>№</th>
			   <th>Наименование</th>
			   <th>Действие</th>
			</tr>	
		</thead>
		<tbody>
					<% i = 0%>
					<% @companies.each do |cl| %>
					<tr>
						<td><%= i = i + 1 %></td>
						<td><%= cl.name %></td>
	<td><%= link_to "Открыть", company_path(cl) %></td>
	
						<!--
		<td><%= button_to "Открыть" , :action => :show, :controller=>"companys",:num => cl.id%></td>
						-->	
					</tr>		
					<% end %>
			
		</tbody>
</table>

<p></p>
</div>
</div>

</center>

