<h5><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span><strong> Справочник</strong></h5>
<ul>
  <li>
  	  <%= image_tag('thesaurus/thesaurus.png') %></br>
  </li>
</ul>
</br>
