<% provide(:title, 'Потребители') %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", welcome_setsuindex_path, :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>

<%= params.inspect %>
</br>
<%= @company.inspect %>
</br>
<%= @fpr.inspect %>
