/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 
 *= require_self
 * */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "dataTables.bootstrap.min";
@import "jquery.dataTables";
@import "responsive.bootstrap.min";
@import "fixedHeader.bootstrap.min";
@import "fixedColumns.bootstrap.min";
@import "toastr";
@import "rowGroup.bootstrap.min";

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
background-color: #C0F2F7;
}

.noPadding {
  padding:0;
  margin:0;
}


.yin-yang {
  position: relative; 
 /* top: 30%; */
  left: 5%; 
  margin: -5rem 0 0 -5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #000 50%, #000 100%);
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #000 50%, #000 100%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.yin-yang:before,
.yin-yang:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
  width: 50%;
  border-radius: 50%;
}
.yin-yang:before {
  left: 0;
  background: #FFF;
  border: 2rem solid #000;
}
.yin-yang:after {
  right: 0;
  background: #000;
  border: 2rem solid #fff;
}

