<%= render "welcome/help_top0" %>

<nav class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to "Назад", mpoint_path(:id => @mp.id, :met => @met), :class => "glyphicon glyphicon-level-up" %></li>
</nav>

<%= render "welcome/help_top2" %>

<%= render "welcome/mvalue" %>