<nav class="navbar">
  <ul class="nav nav-pills nav-pillspull-right">
    <li><%= link_to "Назад", company_path(@mp.company.id), :class => "glyphicon glyphicon-level-up" %></li>
  </ul>  
</nav>
 
<%= if (current_user.has_role? :cduser) || (@fpr > 5) 
	then  render "cduser" 
    else  render "setsu"  end %>
