<%= link_to "Назад", company_path(@mp.company.id) %>

<center>
<h1><%= @mp.pname %></h1>

<% if current_user.has_role? :setsu %>
  <%= render "setsu" %>
<% end %>


<% if current_user.has_role? :usercd %>
	<%= render "cduser" %>
<% end %>
</center>