<footer class="footer">
  <small>
    <a href="http://www.moldelectrica.md/">IS MOLDELECTRICA</a>
    by SIT
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'http://192.168.0.162:800' %></li>
      <li><a href="http://www.moldelectrica.md">News</a></li>
    </ul>
  </nav>
</footer>